<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/buyPage.css" th:href="@{/src/css/buyPage.css}">
    <link rel="stylesheet" href="../css/topBar.css" th:href="@{/src/css/topBar.css}">
    <link rel="stylesheet" href="../css/itemCard.css" th:href="@{/src/css/itemCard.css}">
    <link rel="stylesheet" href="../css/pageNum.css" th:href="@{/src/css/pageNum.css}">
    <title>WebDesign</title>

</head>

<body>
    <div class="wrap">
        <!--헤더(고정바)-->
        <div class="headerWrap" th:replace="fragments/common :: menu('buyPage')">

        </div>

        <!--본문-->
        <div class="bodyWrap">

            <!--검색창, 판매버튼-->
            <div class="bodyTop">
                <div class="bodyInput">
                    <div class="search">
                        <input type="text" placeholder="찾으시는 물건이 있나요?">
                        <img src="../picture/loupe.png" th:src="@{/src/picture/loupe.png}">
                    </div>

                    <div class="category">
                        <ul>
                            <li><a class="categoryChoose" href="../html/luxuryItem.html" target="iframe">👉고가 물품</a>
                            </li>
                            <li><a class="categoryChoose" href="../html/nftItem.html" target="iframe">👉NFT</a></li>
                            <li><a class="categoryChoose lastCategory" href="">👉지역별</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="ItemWrap">
                <div class="textBundle">
                    <span class="textBundleTitle">💜고가 물품💜</span>
                    <span class="textBundleSubtitle">이 상품은 어떠신가요?</span>
                    <div class="luxuryTypeList">
                        <ul>
                            <li><button>가방</button></li>
                            <li><button>지갑</button></li>
                            <li><button>시계</button></li>
                            <li><button>신발</button></li>
                            <li><button>악세사리</button></li>
                            <li><button>기타</button></li>
                        </ul>
                    </div>
                </div>

                
                <!--스크롤 시 목록 계속 로딩되게...-->
                <div class="cardBundle">
                    <div class="itemCard" th:each="item : ${items}">
                        <!-- <a href="">구매하기</button> -->
                        <img src="https://dnvefa72aowie.cloudfront.net/origin/article/202107/0543c5018e96941bb95928e4a63028a6e4ec3322c467a0c680dfc49abe762ea4.webp?q=82&amp;s=300x300&amp;t=crop" 
                            th:src="${item.url}">
                        <div class="itemText">
                            <!-- <div class="itemType"><span>Luxury</span> / <span>가방</span></div> -->
                            <span class="itemTitle" th:text="${item.title}">제목</span>
                            <span class="itemPrice" th:text="${item.price}">9,000원</span>
                        </div>
                    </div>
                    
                </div>

                <div class="pageWrap">
                    <ul class="page">
                        <li class="page-item" th:onclick="${1 == items.pageable.pageNumber + 1} ? 'return false'">
                            <a class="page-link" href="#" tabindex="-1" aria-disabled="true"
                            th:href="@{/item/list(page=${items.pageable.pageNumber - 1},searchText=${param.searchText})}">Previous</a>
                          </li>
                          <li class="page-item" th:onclick="${i == items.pageable.pageNumber + 1} ? 'return false'"
                            th:each="i : ${#numbers.sequence(startPage, endPage)}">
                              <a class="page-link" href="#" th:text="${i}"
                              th:href="@{/item/list(page=${i - 1},searchText=${param.searchText})}">1</a></li>
                          <li class="page-item" th:onclick="${items.totalPages == items.pageable.pageNumber + 1} ? 'return false'">
                            <a class="page-link" href="#"
                            th:href="@{/item/list(page=${items.pageable.pageNumber + 1},searchText=${param.searchText})}">Next</a>
                          </li>
                    </ul>
                </div>
            </div>

        </div>

        <!--하단 footer-->
        <footer th:replace="fragments/common :: footer">

        </footer>

    </div>
</body>

</html>